<div class="title">
  <div class="header">
    Daniel Detwiller
  </div>
  <div>
    <div class="about link" routerLink="/About">
      <i class="arrow up"></i>
      <p class="text-up">About</p>
    </div>
    <div class="contact link" routerLink="/Contact">
      <i class="arrow down"></i>
      <p class="text-down">Contact</p>
    </div>
    <div class="projects link" routerLink="/Projects">
      <i class="arrow left"></i>
      <p class="text-left">Projects</p>
    </div>
    <div class="resume link" routerLink="/Resume">
      <i class="arrow right"></i>
      <p class="text-right">Resume</p>
    </div>
  </div>
</div>
